/* ========================== Component Name ========================== */
$component: ".portfolio-17";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply flex relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
    display: grid;
    grid-gap: 2rem;
  }

  &__project-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }

  &__project-title {
    text-transform: none;
    margin-top: 1rem;
  }

  &__project-category {
    margin-top: 1rem;
  }

  /* ========================== Modifiers ========================== */

  &__project--small {
    #{$component}__project-image {
      height: 256px;
    }
  }

  &__project--med {
    #{$component}__project-image {
      height: 352px;
    }
  }

  &__project--large {
    #{$component}__project-image {
      height: 488px;
    }
  }

  &__project--xlarge {
    #{$component}__project-image {
      height: 608px;
    }
  }

  /* ========================== Breakpoints ========================== */

  @screen sm {
    &__wrap {
    }
  }

  @screen md  {
    &__wrap {
      grid-template-columns: repeat(3, minmax(250px,1fr));
      grid-auto-rows: 20px;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
